@model IEnumerable<SistemaBancario.Models.Emprestimos>
@{
    ViewBag.Title = "Index";

}
<div class="container p-3 my-3 bg-dark text-white">
    <p class="h3 text-center">Deseja solicitar um novo empréstimo? <a type="button" href="~/Emprestimos/Solicitar" class="btn btn-dark">Solicitar</a></p>
</div>
<ul class="nav nav-tabs">
    @foreach (var item in Model)
    {
        <li><a data-toggle="tab" href="#@item.Id">Empréstimo R$: @item.ValorTotal.ToString("000.00")</a></li>
    }
</ul>
<div class="tab-content">

    @foreach (var item in Model)
    {

        <div id="@item.Id" class="tab-pane">

            <div>
                @for (var i = 1; i <= item.NumeroDeParcelas; i++)
                {



                    <div class="panel panel-defaul">
                        <!---->
                        <div class="panel-body bg-success">
                            <div class="row">
                                <div class="col-md-4 text-left"><h4>Empréstimo @Html.DisplayFor(modelItem => item.Id) / @i</h4></div>
                                <div class="col-md-4 text-center">
                                    <h4>
                                        @{
                                            var valor = item.ValorTotal / item.NumeroDeParcelas;
                                            <b id="valor">R$: @valor.ToString("0.00")</b>
                                        }
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <span class="label label-warning">
                                        @{
                                            DateTime dataVencimento = item.DiaVencimento;
                                            dataVencimento = dataVencimento.AddDays(30 * i);
                                        }
                                        Vencimento: @dataVencimento.ToString("dd/MM/yyyy")
                                    </span>
                                </div>
                                @{
                                    if (item.DiaPago != item.DiaVencimento)
                                    {

                                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                                    }
                                    else
                                    {
                                        <div class="col-md-4 text-center">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#@item.Id@i">
                                                Pagar
                                            </button>

                                            <div class="modal fade" id="@item.Id@i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @valor
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                <div class="col-md-4 text-right">
                                    <span class=" right">
                                        @{
                                            var dataPagamento = item.DiaPago.ToString("dd/MM/yyyy");
                                            if (item.DiaVencimento == item.DiaPago)
                                            {
                                                <b class="label label-primary">Em aberto</b>
                                            }
                                            if (item.DiaVencimento > DateTime.Now)
                                            {
                                                <b class="label label-danger">Parcela em atraso</b>
                                            }
                                            if (item.DiaVencimento != item.DiaPago)
                                            {
                                                <b class="label label-success">Pago em: @dataPagamento</b>
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!---->

                    </div>

                }
            </div>
        </div>


    }

</div>

