@model SistemaBancario.Models.Emprestimos

@{
    ViewBag.Title = "Solicitar";
}

<h2>Solicite um novo empréstimo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="">
            <div class="row">
                <div class="col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control", @id = "n1" } })
                            @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumeroDeParcelas, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NumeroDeParcelas, new { htmlAttributes = new { @class = "form-control", @id = "n2", @onblur = "calcular()" } })
                            @Html.ValidationMessageFor(model => model.NumeroDeParcelas, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaVencimento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DiaVencimento, new { htmlAttributes = new { @class = "form-control disabled", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.DiaVencimento, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Confirmar Empréstimo" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <center class="text-left">
                        <label>Valor da Parcela</label>
                        <br />
                        <input id="valorParcela" type="text" disabled />
                        <br /><br />
                        <label>
                            Valor Final
                        </label>
                        <br />

                        <input type="text" id="valorTotal" disabled />
                        <br />
                    </center>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Voltar a tela principal", "Index")
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">
    $("#n1").mask('##0,00', { reverse: true });
</script>
<script>

    function calcular() {
        var n1 = parseFloat(document.getElementById('n1').value, 10);
        var n2 = parseFloat(document.getElementById('n2').value, 10);

        var valorFinalComJuros = (n1 + (n1 * 0.05));
        var valorFinalParcelado = valorFinalComJuros / n2;
        document.getElementById('valorTotal').value = valorFinalComJuros;
        document.getElementById('valorParcela').value = valorFinalParcelado;
    };



</script>
