<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Banco dos Panacas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/home" class="navbar-brand"> Banco dos Panacas</a>
            </div>

            @if (!Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto" style="float: right">
                        <li>@Html.ActionLink("Cadastre-se", "Create", "Usuario")</li>
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>

                    </ul>
                </div>
            }

            else
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Transferência", "Transferencias", "Transferencia")</li>
                        <li>@Html.ActionLink("Pagamentos", "Pagamentos", "Pagamentos")</li>
                        <li>@Html.ActionLink("Empréstimos", "Index", "Emprestimos")</li>
                        <li>@Html.ActionLink("Depositos", "Depositos", "Depositos")</li>

                    </ul>

                    <ul class="nav navbar-nav mr-auto" style="float: right">


                        <li class="dropdown">
                            <a class="  dropdown-toggle" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meu perfil
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div accesskey="" class="card  text-center" style="width: 18rem;">
                                    <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-128.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"> Usuário: @Session["UsuarioLogadoNome"] </h5>

                                        <a href="/Usuario/Details/@Session["UsuarioLogadoId"]" class="btn btn-default text-center">Configurações</a>
                                        <a href="/Login/Singout/@Session["UsuarioLogadoId"]" class="btn btn-default text-center">Sair</a>

                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom">
            <center>
                <p>&copy; @DateTime.Now.Year - Panacas Bank</p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/showPS.js"></script>
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>
