@model SistemaBancario.Models.Usuarios

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="text-center">
        <h1>Crie sua Conta!</h1>
        <br />
        <div class="text-center">
            <img src="~/img/PngItem_2018101.png" class="rounded" width="500">
        </div>
    </div>

    @Html.LabelFor(model => model.Nome)
    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Sobrenome)
    @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Email, "Confirmar E-Mail")
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Senha)
    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Senha, "Confirmar Senha")
    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Id_TipoUsuario, "Pessoa Física")
    @Html.EditorFor(model => model.Id_TipoUsuario, new { htmlAttributes = new { @class = "form-check-input" } })



    <div class="container">
        <div class="row">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-4">
                <label for="nome" class="form-check-label">
                    <font style="vertical-align: inherit;">
                        Primeiro Nome
                    </font>
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4 ">
                <label for="sobrenome" class="form-check-label">
                    <font style="vertical-align: inherit;">
                        Sobrenome
                    </font>
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label for="email" class="form-check-label">
                    <font style="vertical-align: inherit;">
                        E-Mail
                    </font>
                </label>
                <input type="text" class="form-control" id="email" />
            </div>
            <div class="col-md-6">
                <label for="emailConfirma" class="form-check-label">
                    <font style="vertical-align: inherit;">
                        Confirmar E-Mail
                    </font>
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNPJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Pessoa Física
            </label>
            @Html.ValidationMessageFor(model => model.Id_TipoUsuario)
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Pessoa Juridica
            </label>
            @Html.ValidationMessageFor(model => model.Id_TipoUsuario)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
