@model SistemaBancario.Models.Usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <hr />

        <h3>Endereço</h3>

        <dt>
            @Html.DisplayNameFor(model => model.Enderecos.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enderecos.Pais)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Enderecos.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enderecos.Estado)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Enderecos.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enderecos.Cidade)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Enderecos.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enderecos.Bairro)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Enderecos.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enderecos.Rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enderecos.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enderecos.Numero)
        </dd>
        <hr />
        <h3>Telefone</h3>

        <dt>
            @Html.DisplayNameFor(model => model.Telefones.DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefones.DDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefones.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefones.Telefone)
        </dd>
        <hr>

        <h3>Conta</h3>

        <dt>
            @Html.DisplayNameFor(model => model.Conta.NumeroDaConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conta.NumeroDaConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conta.Saldo)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
